
<body>

<div class="container" class="header bg-gradient-danger pb-8 pt-5 pt-md-8 ">
    <div class="formbold-main-wrapper">

        <div class="formbold-form-wrapper">



            <!-- <form action="https://formbold.com/s/FORM_ID" method="POST"> -->
            <form #fo ="ngForm" (submit)="editChambre()">
                <div class="formbold-form-title">
                    <h2 class="">Edit chambre</h2>
                </div>

                <!-- --------------------------------name-->
                <div class="formbold-mb-3">
                    <div>
                        <label class="formbold-form-label" >
                            Chambre Name
                        </label>
                        <input class="formbold-form-input"   name="Name" type="text" [(ngModel)]="chambre.name" #Name="ngModel" required minlength="3" pattern="[a-zA-Z]*"/>
                    </div>
                </div>
                <br>
                <div *ngIf="Name.invalid" class="ng-invalid">
                    <div *ngIf="Name.errors['required']">
                        Empty Field !
                    </div>
                    <div *ngIf="Name.errors['minlength']">
                        min {{Name.errors['minlength']['requiredLength']}} letters,
                        but you wrote only
                        {{ Name.errors['minlength']['actualLength'] }}
                    </div>
                    <div *ngIf="Name.errors['pattern']">
                        Only letters are required !
                    </div>
                </div>
                <br>

                <!-- --------------------------------csize and rank-->
                <div class="formbold-input-flex" >
                    <div>
                        <label  class="formbold-form-label">Compus Size</label>
                        <input class="formbold-form-input" name="size" type="number" [(ngModel)]="chambre.numeroChambre" #size="ngModel" pattern="^[0-9]*$" required/>
                    </div>
                    <div>
                        <label class="formbold-form-label">
                            Ranking
                        </label>
                        <input class="formbold-form-input" name="ran" type="number" [(ngModel)]="chambre.numeroChambre" #ran="ngModel" pattern="^[0-9]*$"  required/>
                    </div>
                </div>


                <label class="formbold-form-label" >
                    chambre Type
                </label>
                <label>
                    <input type="radio" name="type" value="SIMPLE" [(ngModel)]="chambre.typeC">
                    Single
                </label>
                <br>
                <label>
                    <input type="radio" name="type" value="DOUBLE" [(ngModel)]="chambre.typeC">
                    Double
                </label>
                <br>
                <label>
                    <input type="radio" name="type" value="TRIPLE" [(ngModel)]="chambre.typeC">
                    Triple
                </label>
<br><br><br><br>
                <button class="formbold-btn"  [disabled]="fo.invalid">save changes</button>


            </form>
        </div>
    </div>
</div>
</body>
