
<body>

<div class="container" class="header bg-gradient-danger pb-8 pt-5 pt-md-8 ">
    <div class="formbold-main-wrapper">

        <div class="formbold-form-wrapper">
            <form #f ="ngForm" (submit)="addchambre()">
                <div class="formbold-form-title">
                    <h2 class="">Add chamber</h2>
                </div>

                <!-- --------------------------------name-->
                <div class="formbold-mb-3">
                    <div>
                        <label class="formbold-form-label" >
                            chambre Name
                        </label>
                        <input class="formbold-form-input"  (keyup)="test(Name.errors)" name="Name" type="text" [(ngModel)]="chambre.name" #Name="ngModel" required minlength="3" pattern="[a-zA-Z]*"/>
                    </div>
                </div>
                <br>
                <div *ngIf="Name.invalid" class="ng-invalid">
                    <div *ngIf="Name.errors['required']">
                        Empty Field !
                    </div>
                    <div *ngIf="Name.errors['minlength']">
                        min {{Name.errors['minlength']['requiredLength']}} letters,
                        but you wrote only
                        {{ Name.errors['minlength']['actualLength'] }}
                    </div>
                    <div *ngIf="Name.errors['pattern']">
                        Only letters are required !
                    </div>
                </div>
                <br>

                <!-- --------------------------------adresse-->
                <br>

                <!-- --------------------------------description-->
                <!-- --------------------------------csize and rank-->
                <div class="formbold-input-flex" >

                    <div>
                        <label class="formbold-form-label">
                            number
                        </label>
                        <input class="formbold-form-input" name="ran" type="number" [(ngModel)]="chambre.numeroChambre" #ran="ngModel" pattern="^[1-9]*$"  required/>
                    </div>
                </div>


                <label class="formbold-form-label" >
                    chambre Type
                </label>
                <label>
                    <input type="radio" name="typeChambre" value="SIMPLE" [(ngModel)]="chambre.typeC">
                    Single
                </label>
                <br>
                <label>
                    <input type="radio" name="typeChambre" value="DOUBLE" [(ngModel)]="chambre.typeC">
                    Double
                </label>
                <br>
                <label>
                    <input type="radio" name="typeChambre" value="TRIPLE" [(ngModel)]="chambre.typeC">
                    Triple
                </label>
                <br><br><br>
                <button class="formbold-btn"  [disabled]="f.invalid">save</button>


            </form>
        </div>
    </div>
</div>
</body>
